.venv/
__pycache__/
*.pyc
data/*.db
.env
.DS_Store
node_modules/
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
mobile/.idea/
mobile/build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/libs/
mobile/*.iml
mobile/build_log.txt
*.iml
.idea/
